:root{
   --main: #74a6f2;
   --lighter: #ddeeff;
   --main-border: #0053ab;
    --secondary: #fae38f;
    --darker: #c69d0b;
}

body{
    margin: 0;
    margin-top: -32px;
}
#sidebar{
    position: absolute;
    padding-left: 10px;
    background-color: var(--lighter);
    height: 100%;
    width: 290px;
}

#btnContainer button {
    display: block;
    margin-top: 15px;
    border-radius: 3px;
    background-color: var(--secondary);
    width: 96%;
    height: 40px;
    border-color: var(--darker);
}

#btnContainer button:active{
    background-color: var(--secondary);
}

header{
    background-color: var(--main);
    padding-top: 25px;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    font-size: 3em;
}

#container h2{
    margin-left: 310px;
    font-size: 1.7em;
 }

#five-day-container{
    display: flex;
    /* column-gap: 40px; */
    justify-content: space-around;
    margin-left: 300px;
    flex-wrap: wrap;
}

.day-container {
    border: 2px solid var(--main-border);
    border-radius: 4px;
    padding: 10px;
    background-color: var(--main);
    flex-basis: 17%;
}

#weather-container{
    border: solid 2px var(--darker);
    margin: 10px;
    margin-left: 310px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary);
}

#weather-container img {
   width: 80px;
    position: absolute;
    left: 640px;
    top: 130px;
}

#temp,
#wind,
#humidity{
    margin-left: 30px;
    font-size: 1.2em;
}

#weather-container h2 {
    font-size: 2.3em;
    display: inline;
    margin-left: 30px;
}

#weather-container h3{
    display: inline;
    margin-left: 30px;
    font-size: 1.6em;
}

